*{
  margin: 0px;
  padding: 0px;
}
.link{
  color: white;
}
body{

  background: ligthgray;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-family: Tw Cen MT;
  font-style: italic;
  font-size: 60px;
}
h2{
  font-size: 25px;
}

#container{
  padding: 10px;
  width: 100%;
  margin: 0px auto;
  border: 0px solid black;
  box-sizing: border-box;
}

header{
  background: #581845;
  height: 100px;
  width: :100%;
  margin: 0px;
  text-align: center;
  line-height: 100px;
  color: white;
}



#menu{
  background: #900C3F;
  height: 50px;
  border-bottom: :1px solid darkblue;
  text-align: center;

}
#navegador{
  display: inline;
}
#menu ul li{
  float: center;
  display: inline;
  list-style: none;
  margin: 10px;
  line-height: 50px;
  font-family: verdana;
  font-style: bold;
  color: white;
}

.clearfix{
  clear: both;
}

#content{
  padding: 5px;

  float: left;

  box-sizing: border-box;
  background: #FF5733;
  font-size: 14px;
}

#sidebar{
  padding: 5px;
  min-height: 1000px;
  float: left;
  width: 20%;
  box-sizing: border-box;
  background: #FFC300;
  text-align: center;
}

#sidebar ul{
  padding: 5px;
  width: calc(20%-10px);
  list-style-position: inside;
  text-align: center;
}

#content2{
  padding: 10px;
  min-height: 800px;
  float: left;
  width: calc(100%-20px);
  height: calc(100%-20px);
  background: lightgray;
  font-size: 14px;
}
#content2 img{
  width: 100%;
  height: auto;
}

.article{
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;

}

.demoHeaders {
    margin-top: 2em;
  }
  #dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
  }
  #dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
  }
  #icons {
    margin: 0;
    padding: 0;
  }
  #icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
  }
  #icons span.ui-icon {
    float: left;
    margin: 0 4px;
  }
  .fakewindowcontain .ui-widget-overlay {
    position: absolute;
  }
  select {
    width: 200px;
  }


footer{
  font-family: verdana;
  font-style: bold;
  background: #C70039;
  color: white;
  text-align: center;
  height: 50px;
  line-height: 50px;
  
}


/*codigo para hacer responsive a la página y se pueda ajustar el navegar desde un telefono o tablet*/
@media screen and (max-width: 800px){
  #content{
    
    width: 100%;
    box-sizing: border-box;
  }
  #sidebar{
    width: 100%;
    box-sizing: border-box;
  }

}


@media screen and (max-width: 400px){
  #container{
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
  }
  #sidebar{
    display: none;
  }
}

@media only screen and (min-width: 400px){
  #container{
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
  }
  #sidebar{
    display: none;
  }

}